* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.header {
    max-height: 100px;
    border-bottom: 1px solid lightgray;
    padding: 20px;
    display: flex;
    align-items: center; 
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

.left-side {
    display: flex;
}

.right-side {
    display: flex;
    align-items: center;

}

.logo {
   width: 60px;
}

.title {
    font-weight: 400;
    color: gray;
    font-size: 1.2rem;
    margin-left: 5px;
    align-self: flex-start;
}

.icon {
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.account {
    background-color: #F4511E;
    color: #fff;
    padding: 5px 12px;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 50%;

}

.container-faq {
    margin: 150px auto 0 ;
    width: 60%;

}

.list,
.sub-list {
margin: 20px 0 20px 20px;
font-weight: 400;
font-size: 0.8rem;
}

.sub-list {
    list-style-type: lower-alpha;
}

.sub-list li {
    margin-bottom: 20px;
}

h2,
h3 {
    font-weight: 500;
    
}

p {
    font-weight: 400;
    font-size: 0.9rem;
}

h2,
h3,
p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: rgb(53, 53, 53);
}
